# Copy to /etc/default/rfcai-training (root:root, 0640)
# Used by rfcai-ingestion-daemon.service and rfcai-auto-retrain.service.

RFCAI_LOCAL_INCOMING=/home/rfcai/incoming
RFCAI_LABELED_ROOT=/home/rfcai/training/data/labeled/embedder
RFCAI_QUARANTINE_ROOT=/home/rfcai/training/data/quarantine
RFCAI_LOCAL_MODEL_DIR=/home/rfcai/training/models/connector_classifier
